.bg-nav {
  background-image: url("../../assets/images/navbar.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.navbar {
  z-index: 9999;
}

.animate_wrapper {
  display: flex;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  transform: rotate(38deg) translateY(-65px);

  @media (min-width: 430px) {
    transform: rotate(32deg) translateY(-70px);
  }
  @media (min-width: 540px) {
    transform: rotate(26deg) translateY(-80px);
  }
  @media (min-width: 768px) {
    transform: rotate(29deg) translateY(-170px);
  }

  @media (min-width: 1280px) {
    transform: rotate(25deg) translateY(-160px);
  }

  @media (min-width: 1400px) {
    transform: rotate(22deg) translateY(-160px);
  }

  @media (min-width: 1536px) {
    transform: rotate(22deg) translateY(-180px);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroller {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin-right: -80%;
  animation: scroll 30s linear infinite;

  /* margin-left: -100%; */
  /* @media (max-width: 767px) {
    margin-left: -320%;
  } */
}
