.bg_hero {
  background-image: url("../../assets/images/bg_hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -99;
}

.wrapper_scroll {
  animation: animate 30s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
